node_modules
.DS_STORE
npm-debug.log*
yarn-error.log*
/dist
/build
/typings
/.awcache
/electron.js*
/release
/test/coverage
/coverage
/deps/
/electron-dist/

# Build tool caches
/.vite
/node_modules/.vite

# Editors
/.idea
*.iml
.vscode/*
!.vscode/extensions.json
